In [11]:
# Finance Analysis Test Notebook
import pandas as pd
import numpy as np

# Load Data

In [22]:

from vnstock import Vnstock
# Default stock symbol for standalone execution
stock_symbol = "REE"

start_date = '2024-01-01'
end_date = '2024-12-31'
interval = '1D'

# Initialize with a default stock symbol and data source
stock = Vnstock().stock(symbol=stock_symbol, source='VCI')
stock_price = stock.quote.history(symbol=stock_symbol, start=start_date, end=end_date, interval=interval)

# Cook

In [23]:
stock_price.set_index('time', inplace=True)
stock_price

             open   high    low  close   volume
time
2024-01-02  42.21  42.80  41.91  42.21   779590
2024-01-03  42.21  42.43  41.91  42.28   376152
2024-01-04  42.50  43.16  42.21  42.36   899128
2024-01-05  42.36  42.43  42.06  42.14   555100
2024-01-08  42.14  42.43  41.69  41.69   920506
...           ...    ...    ...    ...      ...
2024-12-25  57.90  59.79  57.90  58.93  1078560
2024-12-26  59.01  59.10  58.33  58.33   372493
2024-12-27  58.67  58.67  58.07  58.33   413683
2024-12-30  57.90  58.41  57.47  57.47   412076
2024-12-31  57.64  58.24  57.13  58.24   402044

[250 rows x 5 columns]

## Stock Returns Calculations

In [ ]:
stock_returns = np.log(stock_price['close']/stock_price['close'].shift(1))
stock_returns.dropna()
stock_returns.mean()